#d1 {display: flex; justify-content: center;width: 100%; }
#c1{margin : 10px ;}
#c2{margin : 10px ; }
#c5{margin : 10px ; }
#c7{margin : 10px ; }
#ga1 {width: 100%;}
#ga3 {width: 100%;}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.fade{
  
  opacity : 0;
  transition: opacity 5s;
}
.fade.view{
  opacity: 1;
}

#ga5{width:32px;height:32px;}

#d3 {}
#hed1{background-color:black;
        color:white;}
#hed2{background-color:black;
        color:white;}
#hed3{ ;background-color:black;
        color:white;}
#hedwo{ ;background-color:black;
        color:white;}
footer {background-color:black;
        color:white; text-align:center;}
#d3 { margin:3px auto;}
#c3{margin:3px auto; text-align:center;background-color:darkgrey;padding:30px;  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#d4{margin:3px auto;background-color:darkgrey;padding:30px;
    border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
    }

#hako1 { margin : 30px ;}
#pp1{padding:5px;}
#hed4{ ;background-color:black;
        color:white;}
#oo1{text-align:center;font-size:30px;color:aqua;font-family:"fantasy";width: 100%;}
#sonota { margin:3px auto;background-color:darkgrey;padding:30px;
        border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#sonota2 { margin:3px auto;background-color:darkgrey;padding:30px;
        border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media screen and (min-width:900px){
    #hako1{
        display: flex;
        justify-content: space-around;
    }
    #d3{
        display: flex;
        justify-content: space-around;
    }
     #work1{
        display: flex;
        justify-content: space-around;
    }
    #c3{width:400px;}
    #d4{width:400px}
    #sonota{width:400px;}
    #sonota2{width:400px;}
    #ga3 {width:500px;height:400px;
    }
    .SP_Flex_container a{
        width: 100%;
    }
}
