#contener-1 {display: flex;
      justify-content:center;
      width: 100%;
    }
#icon-pro{margin : 10px ;}
#icon-sk{margin : 10px ; }
#icon-con{margin : 10px ; }
#icon-wk{margin : 10px ; }
#ga1 {width: 100%;}
#ga3 {width: 100%;}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.fade{
  
  opacity : 0;
  transition: opacity 5s;
}
.fade.view{
  opacity: 1;
}

#ga5{width:32px;height:32px;}


#menu-h1{background-color:black;
        color:white;}
#pro-h2{background-color:black;
        color:white;}
#skill-h2{ ;background-color:black;
        color:white;}
#hedwo{ ;background-color:black;
        color:white;}
#con-h2{ ;background-color:black;
        color:white;}
footer {background-color:black;
        color:white; 
        text-align:center;}
#contener3 { margin:3px auto;}
#lang-box{margin:3px auto; 
    text-align:center;
    background-color:darkgrey;
    padding:30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
#etc-box{margin:3px auto;
    background-color:darkgrey;
    padding:30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

#contener-2 { margin : 30px ;}
#p-1{padding:5px;}
#hed4{ ;background-color:black;
        color:white;}
#logo-h1{text-align:center;
      font-size:30px;
      color:aqua;
      font-family:"fantasy";
      width: 100%;
  }
#other-1 {margin:3px auto;
          background-color:darkgrey;
          padding:30px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
  }
#other-2 {margin:3px auto;
            background-color:darkgrey;
            padding:30px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
  }
#git-box {margin:3px auto;
            background-color:darkgrey;
            padding:30px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
  }
#works-1 {margin:3px auto;
            background-color:darkgrey;
            padding:30px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
  }
#works-2 {margin:3px auto;
            background-color:darkgrey;
            padding:30px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
  }
@media screen and (min-width:900px){
    #contener-2{
        display: flex;
        justify-content: space-around;
    }
    #contener-3{
        display: flex;
        justify-content: space-around;
    }
     #works-contener{
        display: flex;
        justify-content: space-around;
    }
    #coment-1{width:400px;}
    #lang-box{width:400px}
    #etc-box{width:400px;}
    #other-1{width:400px;}
    #other-2{width:400px;}
    #works-1{width:400px;}
    #works-2{width:400px;}
    #git-box{width:400px;}
    #ga3 {width:500px;height:400px;
    }
    .SP_Flex_container a{
        width: 100%;
    }
}
